.headRow{
    background-color: darkgrey;
}
.headCol1{
    background-color: darkcyan;
}
.headCol2{
    background-color: cornflowerblue;
}
.BooksRow{
    background-color: whitesmoke;
}
.BooksCol1{
    background-color: darkkhaki;
}
.BooksCol12{
    scroll-behaviour: smooth;
}
.BooksCol3{
    background-color: indianred;
}
.BooksCol2{
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.bookCard{
    padding-right: 0rem;
    padding-left: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
    color: black;
    width: 15rem;
}
.linkBook{
    padding-right: 0rem;
    padding-left: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
}
.BookEditorImage,.bookViewImage{
    padding-top: 1rem;
    padding-bottom: 1rem;
    width: 15rem;
}
.BookEditorCard-1,.bookViewCard-1{
    width: auto;
}
.mb-4, .g-5{
    width: auto;
}
.g-5{
    width: auto;
    padding: 0rem;
    margin: 0rem;
}
.BookTable_BookAdd{
    width: auto;
}
.EditButton{
    margin-left: 1rem;
}
.saveLink, .backLink, .editLink, .deleteLink, .ImageEditorLink, .addLink {
    color: #FFF;
    text-decoration: inherit;
}
.authorLink, .linkBook {
    text-decoration: none;
}
.buttonCard{
    padding-top: 1rem;
}


