.headRow{
    background-color: darkgrey;
}
.headCol1{
    background-color: darkcyan;
}
.headCol2{
    background-color: cornflowerblue;
}
.BooksRow{
    background-color: whitesmoke;
}
.BooksCol1{
    background-color: darkkhaki;
}
.BooksCol12{
    scroll-behaviour: smooth;
}
.BooksCol3{
    background-color: indianred;
}
@media (min-width: 768px) {
    .container {
        max-width: 100%;
    }
}
@media (min-width: 576px) {
    .container {
        max-width: 100%;
    }
}
.container{
    padding-right: 0rem;
    padding-left: 0rem;
    margin-right: 0rem;
    margin-left: 0rem;
}
.bookCard{
    padding-right: 0rem;
    padding-left: 1rem;
    margin-right: 0rem;
    margin-left: 0rem;
    color: black;
    width: 15rem;
}
.linkBook{
    padding-right: 0rem;
    padding-left: 1rem;
    margin-right: 0rem;
    margin-left: 0rem;
}
.Editor-bookImage,.Presentation-bookImage{
    width: 15rem;
}
.EditorCard-1,.PresentationCard-1{
    width: auto;
}
.mb-4 {
    width: auto;
}

